.ShopItem {
    border: 4px double white;
    border-radius: 5%;
    margin: 3.5em 0 3.5em 0;
    padding: 0.5em 0 0 0;
}

@media (prefers-color-scheme: light) {
    .ShopItem {
        border: 4px double rgb(0, 0, 0);
    }
}

form{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}   

.inputContainer{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.btnContainer{
    display: grid;
}

.btnContainer button {
    font-size: 1.5rem;
    padding: 0.2rem;
}